footer {
  background-color: #f2f5f9;
  padding: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}


.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #707F8D;
  border-radius: 24px;
  height: 322px;
  width: 250px;
  padding: 24px;
  margin-right: 60px;
}

.qr-text {
  color: #707F8D;
  size: 16px;
  margin: 16px 10px;
}

.qr-code-image {
  width: 190px;
  height: 190px;
}

.stores-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.store-icon {
  width: 42px;
  height: 42px;
  margin: 16px;
}

.footer-menue {
  display: flex;
  justify-items: center;
  width: 100%;
}

.menue-column {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.menue-element-title {
  color: black;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  font-family: "GTEestiProDisplay";
}

.menue-element {
  color: #707F8D;
  margin-bottom: 8px;
  text-decoration: none;
  font-size: 14px;
  font-family: "GTEestiProDisplay";
}

.menue-element:hover {
  color: #005bff;
}

.white-icon {
  background-color: white;
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 7px;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
}

.reserved {
  color: #707F8D;
  text-decoration: none;
  font-size: 14px;
  margin: 20px;
}

.left-container {
  display: flex;
  align-items: flex-end;
}

.right-container{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.glasses {
  height: 20px;
  margin: 0 20px;
}

.btn-footer {
  background-color: #005bff;
  color: #f2f5f9;
  padding: 15px;
  font-family: "GTEestiProDisplay";
  font-size: 16px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 12px;
  margin: 16px;
}


@font-face {
  font-family: 'GTEestiProDisplay';
  src: url('./fonts/GT-Eesti-Pro-Display-Regular.ttf'); 
}
